.add{
    width: 100%;
    display: flex;




        .bottom{
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            padding: 2px;
            margin: 40px;
            .reg{

                Table{
                    text-align: center;
                    a{
                        justify-content: space-between;
                    }
                }

        }

        }
    
}